<?xml version="1.0" encoding="utf-8"?>
<!--
此檔案是由您 Web 專案的發行/封裝處理程序所使用。您可以編輯此 MSBuild 檔案，
以自訂此處理程序的行為。若要深入了解，請造訪 http://go.microsoft.com/fwlink/?LinkID=208121。
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://60.250.203.170:80/NewDry</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>https://60.250.203.170:8172/msdeploy.axd</MSDeployServiceURL>
    <DeployIisAppPath>Default Web Site\NewDry</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName>WIN-MUE7UO03T8D\Administrator</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="CommonEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=203.66.14.109;Initial Catalog=Common;Persist Security Info=True;User ID=aerc;Password=aerc43509532;Application Name=EntityFramework" Name="Data Source=203.66.14.109;Initial Catalog=Common;Persist Security Info=True;User ID=aerc;Password=aerc43509532;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="AERC.Models.CommonEntities, AERC.Models" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DryEntities" Order="2" Enabled="False">
          <Destination Path="Data Source=60.250.203.170;Initial Catalog=Dry;Persist Security Info=True;User ID=sa;Password=info223p@ss;Application Name=EntityFramework" Name="Data Source=60.250.203.170;Initial Catalog=Dry;Persist Security Info=True;User ID=sa;Password=info223p@ss;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Dry.Models.DryEntities, Dry.Models" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DryContext" Order="3" Enabled="False" xmlns="">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(localdb)\v11.0;AttachDbFilename=|DataDirectory|DryContext-20150128103444.mdf;Initial Catalog=DryContext-20150128103444;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DryContext_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(localdb)\v11.0; Initial Catalog=DryContext-20150128103444; Integrated Security=True; MultipleActiveResultSets=True; AttachDbFilename=|DataDirectory|DryContext-20150128103444.mdf" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)CommonEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Common.csdl|res://*/Common.ssdl|res://*/Common.msl;provider=System.Data.SqlClient;provider connection string="Data Source=203.66.14.109;Initial Catalog=Common;Persist Security Info=True;User ID=aerc;Password=aerc43509532;MultipleActiveResultSets=True;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DryEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Dry.csdl|res://*/Dry.ssdl|res://*/Dry.msl;provider=System.Data.SqlClient;provider connection string="Data Source=60.250.203.170;Initial Catalog=Dry;Persist Security Info=True;User ID=sa;Password=info223p@ss;MultipleActiveResultSets=True;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>