<?xml version="1.0" encoding="utf-8"?>
<!--
此檔案是由您 Web 專案的發行/封裝處理程序所使用。您可以編輯此 MSBuild 檔案，
以自訂此處理程序的行為。若要深入了解，請造訪 http://go.microsoft.com/fwlink/?LinkID=208121。
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://210.61.119.75:80\DryTest</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>https://210.61.119.75:8172/msdeploy.axd</MSDeployServiceURL>
    <DeployIisAppPath>Default Web Site\DryTest</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>Administrator</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="CommonEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=210.61.119.75;Initial Catalog=Common;Persist Security Info=True;User ID=aerc;Password=aerc43509532" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="AERC.Models.CommonEntities, AERC.Models" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DryEntities" Order="2" Enabled="False">
          <Destination Path="Data Source=210.61.119.75;Initial Catalog=DryTest;Persist Security Info=True;User ID=aerc;Password=aerc43509532" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Dry.Models.DryEntities, Dry.Models" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DryContext" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(localdb)\v11.0;AttachDbFilename=|DataDirectory|DryContext-20150128103444.mdf;Initial Catalog=DryContext-20150128103444;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DryContext_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(localdb)\v11.0; Initial Catalog=DryContext-20150128103444; Integrated Security=True; MultipleActiveResultSets=True; AttachDbFilename=|DataDirectory|DryContext-20150128103444.mdf" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="DryDB" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=192.168.3.195;Initial Catalog=Dry;Integrated Security=False;User ID=sa;Password=Aerc43509532" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DryDB_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source = 192.168.3.195;Initial Catalog=Dry;User ID=sa;Password=Aerc43509532;Integrated Security=false" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)CommonEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Common.csdl|res://*/Common.ssdl|res://*/Common.msl;provider=System.Data.SqlClient;provider connection string="Data Source=210.61.119.75;Initial Catalog=Common;Persist Security Info=True;User ID=aerc;Password=aerc43509532"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DryContext-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DryDB-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DryEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Dry.csdl|res://*/Dry.ssdl|res://*/Dry.msl;provider=System.Data.SqlClient;provider connection string="Data Source=210.61.119.75;Initial Catalog=DryTest;Persist Security Info=True;User ID=aerc;Password=aerc43509532"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>