/*@import url("default1.css");*/

/*2020.01.16 by chj*/
@charset "utf-8";

@import url("table.css");
@font-face { 
  font-family: Yanone Kaffeesatz; 
    src: url('~/Content/fonts/YanoneKaffeesatz-Regular.ttf'); 
    src: local("Yanone Kaffeesatz"), url('fonts/YanoneKaffeesatz-Regular.ttf');
	font-family:"微軟正黑體";
    font-size:16px;
} 

html { 
  height: 100%;}

* { 
  margin: 0; 
  padding: 0;}

/* tell the browser to render HTML 5 elements as block */
article, aside, figure, footer, header, hgroup, nav, section { 
  display:block;}

/*body { 
  font: normal .80em arial, sans-serif;
  background: #F8F7F0;
  color: #7A7A68;
}*/
/*2020.01.16 by chj*/
body{background-color:#e6e6e6; font-size:16px; font-family:"微軟正黑體",Georgia, "Times New Roman", Times, serif;}

p { 
  padding: 0 0 20px 0;
  line-height: 1.7em;
}

img { 
  border: 0;
}

h1, h2, h3, h4, h5, h6 { 
  color: #362C20;
  letter-spacing: 0em;
  padding: 0 0 5px 0;
}

h1, h2, h3 { 
  font: normal 140%;
  margin: 0 0 15px 0;
  padding: 15px 0 5px 0;
  color: #000;
  /*2020.01.21 by chj*/
  /*text-shadow: 1px 1px 1px #fff;*/
}

h2 { 
  font-size: 160%;
  padding: 20px 0 5px 30px;
  /*color:#FF6600;*/
}

h3 { 
  font-size: 140%;
  padding: 5px 0 0 0;
}

h4, h6 { 
  color:chocolate;
  padding: 0 0 5px 0;
}
/*2020.01.30 by chj*/
h4 a{
  color:chocolate;
  padding: 0 0 5px 0;
  text-decoration:none;
}

h5 { 
  color:#4a789d;
  font-size:18px;
  padding: 0 0 15px 0;
}

a, a:hover { 
  outline: none;
  text-decoration: underline;
  color: #009393;
  /* default color : #03D1FD*/
}

a:hover { 
  text-decoration: none;
}

blockquote { 
  margin: 20px 0; 
  padding: 10px 20px 0 20px;
  border: 1px solid #E5E5DB;
  background: #FFF;
}

ul { 
  margin: 2px 0 22px 17px;
}

ul li { 
  list-style-type: none;
  margin: 0 0 6px 0; 
  padding: 0 0 4px 5px;
  line-height: 1.5em;
}

ol { 
  margin: 8px 0 22px 20px;
}

ol li { 
  margin: 0 0 11px 0;
}

.left { 
  float: left;
  width: auto;
  margin-right: 10px;
}

.right { 
  float: right; 
  width: auto;
  margin-left: 10px;
}

.center { 
  display: block;
  text-align: center;
  margin: 0 auto;
}

#main, #logo, nav, #site_content, footer { 
  margin-left: auto; 
  margin-right: auto;
}

/*2020.01.21 by chj*/
/*
header { 
  background: #323534 url(images/back.png) repeat-x;
  height: 160px;
}
*/
#logo { 
  width: 100%;
  /*position: relative;*/
  height: 100px;
  background: transparent;
}

#logo #logo_text { 
  position: absolute; 
  left: 0;
  width: 100%;
  height: 160px;
 /*background:url('images/header2_new1200.png') no-repeat;
   background:url('images/header2(new1200).png') no-repeat;*/
  
}

#logo h1, #logo h2 { 
  font-size: 360%;
  border-bottom: 0;
  text-transform: none;
  margin: 10px 0 0 300px;
  text-shadow: none;
}

#logo_text h1, #logo_text h1 a, #logo_text h1 a:hover { 
  padding: 5px 0 0 0;
  color: #FFF;
  text-decoration: none;
}

#logo_text h1 a .logo_colour { 
  color: #09D4FF;
}

#logo_text a:hover .logo_colour { 
  color: #FFF;
}

#logo_text h2 { 
  font-size: 130%;
  padding: 0 0 0 0;
  color: #A8AA94;
}

nav { 
	padding: 25px 0 0 0;
  width: 1250px;
  height: 46px;
} 

#site_content { 
  width: 1250px;
  overflow: hidden;
  margin: 20px auto 0 auto;
  padding: 0 0 10px 0;
} 

#sidebar_container { 
  float: left;
  width: 224px;
  padding: 0 10px 0 0;
}

.sidebar { 
  float: right;
  width: 230px;
  margin: 0 0 0px 0;
  background: #FFF;
  background: #fff;
  border: 1px solid #e5e5e5;
  border-radius: 7px 7px 7px 7px;
  -moz-border-radius: 7px 7px 7px 7px;
  -webkit-border: 7px 7px 7px 7px;
}
  
.sidebar h3, .content h1 { 
  background: #eee;padding: 10px 15px;
  font-size: 120%;
  border: 1px solid #fff;
    border-radius: 7px 7px 0 0;
  -moz-border-radius: 7px 7px 0 0;
  -webkit-border: 7px 7px 0 0;
  font-weight:700;
}

.sidebar h3, .content h1 { 
  padding: 5px 15px 10px 15px;
  color: #74706E;
}

 .content h1 { 
	font-weight:700;
 }

 .sidebar li a { 
  color:#547CA6;
  text-decoration:none;
}
 .sidebar li a:hover{ 
 	color:#FF6600;
  text-decoration:none;
}
.sidebar li a.selected { 
  color:#FF6600;
} 



.sidebar ul { 
  margin: -20px 0 0 0;
} 

.sidebar_item, .content_item { 
  padding: 15px 5px;
}

.content { 
  text-align: left;
  width:97%;
  padding:10px;
  margin: 0 0 15px 0;
  background: #fff;border-bottom: 1px solid #D4D4D4;
  border: 1px solid #e5e5e5;
  border-radius: 7px 7px 7px 7px;
  -moz-border-radius: 7px 7px 7px 7px;
  -webkit-border: 7px 7px 7px 7px;
  float: left;
  font-size:16px;
  font-family:"微軟正黑體";
}
  
.content ul { 
  margin: 2px 0 22px 0px;
}

.content ul li, .sidebar ul li { 
  list-style-type: none;
  
  margin: 0 0 0 0; 
  padding: 0 0 4px 25px;
  line-height: 1.5em;
}

.login_content{
float: center;
  text-align: left;
  width: 940px;
  height:630px;
  /*margin: 0 0 15px 0;*/
  margin: 0px auto;
  margin-top:50px;
  margin-bottom:20px;
  border: 1px solid #e5e5e5;
  border-radius: 7px 7px 7px 7px;
  -moz-border-radius: 7px 7px 7px 7px;
  -webkit-border: 7px 7px 7px 7px;
  background-image:url("images/dry_login2.png");
  background-repeat:no-repeat;
}
  
#login_block{
width:50%;
margin: 250px 0 0 320px;
}

footer { 
  width: 100%;
  font-family:  sans-serif;
  font-size: 100%;
  height: 60px;
  padding: 20px 0 5px 0;
  text-align: center; 
  border-top: 1px solid #000;
  background: #545454;
  color: #A8AA94;
  margin: 0 0 0 0;
  text-transform: uppercase;
}

footer p { 
  line-height: 1.7em;
  padding: 0 0 10px 0;
}

footer a { 
  color: #A8AA94;
  text-decoration: none;
}

footer a:hover { 
  color: #FFF;
  text-decoration: none;
}

.form_settings { 
  margin: 15px 0 0 0;
}

.form_settings p { 
  padding: 0 0 4px 0;
}

.form_settings span { 
  float: left; 
  width: 200px; 
  text-align: left;
}
  
.form_settings input, .form_settings textarea { 
  padding: 5px; 
  width: 299px; 
  font: 100% arial; 
  border: 1px solid #E5E5DB; 
  background: #FFF; 
  color: #47433F;
  border-radius: 7px 7px 7px 7px;
  -moz-border-radius: 7px 7px 7px 7px;
  -webkit-border: 7px 7px 7px 7px;  
}
  
.form_settings .submit { 
  font: 100% arial; 
  border: 0; 
  margin: 0 0 0 212px; 
  height: 33px;
  padding: 2px 0 3px 0;
  cursor: pointer; 
  background: #3B3B3B; 
  color: #FFF;
  border-radius: 7px 7px 7px 7px;
  -moz-border-radius: 7px 7px 7px 7px;
  -webkit-border: 7px 7px 7px 7px;  
}

.form_settings textarea, .form_settings select { 
  font: 100% arial; 
  width: 299px;
}

.form_settings select { 
  width: 310px;
}

.form_settings .checkbox { 
  margin: 4px 0; 
  padding: 0; 
  width: 14px;
  border: 0;
  background: none;
}

.separator { 
  width: 100%;
  height: 0;
  border-top: 1px solid #D9D5CF;
  border-bottom: 1px solid #FFF;
  margin: 0 0 20px 0;
}
  
 
table { 
  margin: 10px 0 30px 5px;
}

table tr th, table tr td { 
  /*background: #3B3B3B;*/
  color: #FFF;
  padding: 7px 4px;
  text-align: left;
}
  
table tr td { 
  /*background: #E5E5DB;*/
  /*background: #FFFFFF;*/
  color: #47433F;
  border-top: 1px solid #FFF;
}

#colours { 
  float: right;
  padding: 10px 0 0 0;
}

#search { 
  float: right;
}

.search { 
  border: 1px solid #666;
  border-radius: 7px 7px 7px 7px;
  -moz-border-radius: 7px 7px 7px 7px;
  -webkit-border: 7px 7px 7px 7px;  
  float:left;
  
  padding:5px;
  vertical-align:middle;
  width:192px;
  color: #bbb;
  background:#5E5E5E;
}





/**
Stylesheet for SooperFish by www.SooperThemes.com
Author: Jurriaan Roelofs
*/

/* Configuration of menu width */
html body ul.sf-menu ul, html body ul.sf-menu ul li {
  width: 180px;
}

html body ul.sf-menu ul ul {
  margin: 0 0 0 180px;
}

/* Framework for proper showing/hiding/positioning */
/* DO NOT EDIT FROM HERE */
ul.sf-menu, ul.sf-menu * {
  margin: 0;
  padding: 0;
}

ul.sf-menu {
  display: block;
  position: relative;
}

ul.sf-menu li {
  display: block;
  list-style: none;
  float: left;
  position: relative;
}

ul.sf-menu li:hover {
  visibility: inherit; /* fixes IE7 'sticky bug' */
}

ul.sf-menu a {
  display: block;
  position: relative;
}

ul.sf-menu ul {
  position: absolute;
  left: 0;
  width: 150px; 
  top: auto;
  left: -999999px;
}

ul.sf-menu ul a {
  zoom: 1; /* IE6/7 fix */
}

ul.sf-menu ul li {
  float: left; /* Must always be floated otherwise there will be a rogue 1px margin-bottom in IE6/7 */
  width: 150px;
}

ul.sf-menu ul ul {
  top: 0;
  margin: 0 0 0 150px
}

ul.sf-menu li:hover ul,ul.sf-menu li:focus ul,ul.sf-menu li.sf-hover ul,
ul.sf-menu ul li:hover ul,ul.sf-menu ul li:focus ul,ul.sf-menu ul li.sf-hover ul,
ul.sf-menu ul ul li:hover ul,ul.sf-menu ul ul li:focus ul,ul.sf-menu ul ul li.sf-hover ul,
ul.sf-menu ul ul ul li:hover ul,ul.sf-menu ul ul ul li:focus ul,ul.sf-menu ul ul ul li.sf-hover ul {
  left: auto;
}

ul.sf-menu li:hover ul ul,ul.sf-menu li:focus ul ul,ul.sf-menu li.sf-hover ul ul,
ul.sf-menu ul li:hover ul ul,ul.sf-menu ul li:focus ul ul,ul.sf-menu ul li.sf-hover ul ul,
ul.sf-menu ul ul li:hover ul ul,ul.sf-menu ul ul li:focus ul ul,ul.sf-menu ul ul li.sf-hover ul ul,
ul.sf-menu ul ul ul li:hover ul ul,ul.sf-menu ul ul ul li:focus ul ul,ul.sf-menu ul ul ul li.sf-hover ul ul {
  left: -999999px;
}

/* autoArrows CSS */
span.sf-arrow {
  width: 7px;
  height: 7px;
  position: absolute;
  top: 8px;
  right: 0;
  display: block;
  background: url("images/arrows-black.png") no-repeat 0 0;
  overflow: hidden; /* making sure IE6 doesn't overflow and expand the box */
  font-size: 1px;
}

ul ul span.sf-arrow {
  right: 12px;
  top: 7px;
  background-position: 0 100%;
}

/* Theming the menu */
ul#nav {
  float: left;
}

ul#nav li.current a {
  color: #FFF;}

ul#nav ul {
  background: #88E2F8;
}

ul#nav li a {
  padding: 7px 20px;
  font-family: 'trebuchet ms',微軟正黑體,arial,verdana,sans;
  text-decoration: none;
  color: #111;
  background: #88E2F8;
  margin-right: 2px;
  border-radius: 7px 7px 0 0;
  -moz-border-radius: 7px 7px 0 0;
  -webkit-border: 7px 7px 0 0;}

ul#nav li a:hover, ul#nav li a:focus {
  color: #FFF;
}

ul#nav li ul li a {
  margin-right: 0;
  border-radius: 0 0 0 0;
  -moz-border-radius: 0 0 0 0;
  -webkit-border: 0 0 0 0;
}

span.sf-arrow {
  top: 15px;
  right: 5px;
  background-image: url(images/arrows-white.png);
}

ul ul span.sf-arrow {
  right: 12px;
  top: 15px;
}

#steps {
    padding:10px 0 30px 5px;
}
.step_n {
    /*font-size:14px;*/
    color:#F5F2F8;
    background: url(images/steps2.png) repeat-x center;
    height:40px;
}
.step_y{
    font-size:14px;
    color:#FFFFFF;
    background: url(images/steps1.png) repeat-x center;
    height:40px;
}
.step_to {
    background: url(images/next_to.png) no-repeat center;
    height:40px;
    width:20px;
}
.number_right {
   text-align:right;
}
.number_center {
    text-align:center;
}


/*2020.01.16 START by chj*/

#wrapper{margin:0 auto; width:100%; max-width:1600px; background-color:#FFF; margin-top:0px;}
#slogan{clear:both; margin:0 auto; background-image:url(images/head_3.jpg); background-repeat:no-repeat; height:242px; position:relative;}

/*#content{clear:both; margin:0 auto; width:100%;}*/
#login_msg{width:76%; background-color:#F6F6F6; margin:20px; padding:20px; font-size:18px; line-height:25px; height:260px;}
.user{ padding-bottom:15px; color:#60862D; font-size:20px;}

#content_left{ width:20%; float:left; }
#content_right{ width:80%; float:right; }

/* 選單區 */
#sidebar2 {
	padding: 0px 20px 0px 20px;
}
.twocolumn2 #sidebar2 {
	padding: 0px 0px 0px 30px;
}
#sidebar2 h2 {
	height: 50px;
	background: url(images/img11.jpg) no-repeat right top;
	margin-bottom: 20px;
	padding: 0px 0px 0px 20px;
	line-height: 50px;
	font-size: 18pt;
	color: #FFFFFF;
}
#sidebar2 .sbox1 {
	margin-bottom: 50px;
}
#sidebar2 .sbox2 {
	margin-bottom: 50px;
}
#sidebar2 .sbox3 {
	margin-bottom: 50px;
}

/** LIST STYLE 1 */

ul.style1 {
	margin: 0px;
	padding-left: 20px;
	list-style: none;
	font-size:20px;
}

ul.style1 li {
	padding: 8px 0px 8px 0px;
	border-bottom: 1px solid #E6E6E6;
    list-style-type:none;
}

ul.style1 li:last-child {
	border-bottom: 0;
}

ul.style1 a {
	display: block;
	padding: 0px 0px 0px 20px;
	/*background: url(images/img03.png) no-repeat left top;*/
	text-decoration: none;
	color: #525252;
}
ul.style2 a {
	color:chocolate;
    font-weight:700;
    padding: 0px 0px 0px 2px;
}

ul.style1 a:hover {
	text-decoration: underline;
}

#copyright{clear:both; font-size:16px; letter-spacing:2px; text-align:center; color:#9F894D; height:60px; line-height:60px; padding-bottom:10px;}

#login{
	margin:0 auto; width:430px; margin-top:5%; height:580px; text-align:center; font-size:16px; letter-spacing:2px; line-height:35px; background-color:#FFFFFF; 
}

.input{
padding:10px 18px; background:#EFEFEF; border:0 none;
cursor:pointer;
-webkit-border-radius: 20px;
border-radius: 20px; 
font-size:16px; 
font-family:"微軟正黑體";
}

/*驗證碼置中*/
.center_code{
    margin:0 auto;
    padding:15px;
    width:100px;
    text-align:center;
}

.loginBtn{
  display: inline-block;
  border-radius: 5px;
  background-color:#6699CC;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 16px;
  padding: 10px;
  width: 100px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 30px;
  font-family:"微軟正黑體";
}
.addBtn{
  display: inline-block;
  border-radius: 5px;
  background-color:chocolate;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 16px;
  padding: 10px;
  width: 100px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 10px;
  font-family:"微軟正黑體";
}
.addBtn a {
    color:#FFF;
    text-decoration:none;
    font-size:16px;
}
.modBtn{
  display: inline-block;
  border-radius: 5px;
  background-color:#a89673;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 16px;
  padding: 10px;
  width: 100px;
  transition: all 0.5s;
  cursor: pointer;
 /* margin: 10px;*/
  font-family:"微軟正黑體";
}
.modBtn a {
    color:#FFF;
    text-decoration:none;
    font-size:16px;
}
#ssl_table {
    margin:0 auto;
    width:180px;
}
.SSL{
	text-align:left;
}
.SSLmemo{
	text-align:right;
	line-height:20px;
	font-size:16px;
	color:#9F894D;
}

/*報表案號輸入框寬度*/
.input-mini_W90{
    width: 90px;
}

/*2020.01.16 END*/
